.container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  min-width: 95%;
  justify-content: flex-start;
  z-index: 10;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  & h1 {
    margin-left: 1rem;
  }
}

.burger {
  position: fixed;
  top: 0.2rem;
  left: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
  color: var(--contrast2);
  transition: transform 0.3s ease-in-out;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  background: var(--darkgrey);
  color: var(--contrast2);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  opacity: 0.99;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.sidebar li {
  padding: 1rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
