.dark-mode-toggle {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  & img {
    width: 2rem;
  }
}

.dark-mode-toggle:hover {
  background: rgba(255, 255, 255, 0.1);
}
