.technique-container input {
  color: var(--contrast1);
  background-color: var(--contrast2);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  border: none;
}

.technique-container select {
  appearance: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--contrast2);
  border: none;
  font-family: "Orbitron", serif;
  color: var(--contrast1);
  padding: 0.5rem;
  border-radius: 5px;
  background-image: url("/26.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1rem;
}

.technique-container .error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  background-color: var(--grey);
  border-radius: 1px;
  padding: 0.2rem;
}
/* .technique-container .form {

} */
